@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('../res/nullstyle.css');
body{
    font-family: 'Open Sans', sans-serif;
}
.cap{
    padding:1%;
    color:white;
    font-size: 20px;
    background-color: #0A0C29;
}
.back{
    margin-left: 5%;
    margin-top: 5%;
    color: #0A0C29;
    font-size: 14px;
    text-decoration: underline;
}
.main-title{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 18px;
}
.flex-container{
    display: flex;
    margin: 0 -5px;
}
.flex-item{
    display: block;
    margin: 0 5px;
    padding-right: 50px;
    flex-grow: 1;
}
table{
    margin-left: 5%;
    width: 90%;
    border-collapse: separate;
}
table tr{
    margin-bottom: 5px;
}
table tr td{
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    padding:5px;
}
.parent{
    width: 90%;
    margin: auto;
}
button{
    width: 100%;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: #0A0C29;
    font-weight: 700;
    color: white;
}
input{
    padding: 5px;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: #0A0C29;
    color: white;
    font-weight: 700;
}
