@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('../res/nullstyle.css');
body{
    font-family: 'Open Sans', sans-serif;
}
.content{
    margin-left: 5%;
}
.cap{
    padding:1% 1% 1% 5%;
    color:white;
    font-size: 20px;
    background-color: #0A0C29;
}
.back{
    margin-top: 2%;
    color: #0A0C29;
    font-size: 14px;
    text-decoration: underline;
}
.main-title{
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 18px;
}
.flex-content{
    display: flex;
    margin: 0 -5px;
    padding-bottom: 1%;
}
.item{
    display: block;
    margin: 0 5px;
    padding-right: 50px;
    vertical-align: center;
}
.input-field{
    margin-right: 2%;
    margin-bottom: 1%;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}
select{
    margin-bottom: 1%;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.input-button{
    padding: 5px;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    background-color: #0A0C29;
    color: white;
    font-weight: 700;
}